body {
    background: linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(52,9,121,1) 35%, rgb(3, 175, 209) 100%);
    background-attachment: fixed;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.144);
}

div {
    text-align: center;
    padding: 20px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}