body {
    background-image: linear-gradient(180deg, #C47335, #FF6542);
    font: normal 15pt Arial;
    background-attachment: fixed;
    height: 96vh;
    width: 98vw;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    width: 800px;
    margin: auto;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.144);
}

div {
    padding: 20px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding: 20px;
}